%span.ten
%span.big
  %a{ :href => '/' }
    Lever
%span.spacer
%span
  %a{ :href => '/shutdown', class: 'btn btn--xs' }
    Shutdown
  %a{ :href => '/restart', class: 'btn btn--xs' }
    Restart
%span.ten
