<header>
  <span class="ten"></span>
  <span class="big">
    {{#link-to 'index'}}Lever{{/link-to}}
  </span>
  <span class="spacer"></span>
  <span>
    <a {{action 'restartServer'}} class="btn btn--xs">Restart</a>
    <a {{action 'shutdownServer'}} class="btn btn--xs">Shutdown</a>
  </span>
  <span class="ten"></span>
</header>
<main>
    {{outlet}}
</main>
<footer>

</footer>
