<header>
  <div id="root-link">
    {{#link-to 'index'}}Lever{{/link-to}}
  </div>

  <div id="socket-status" {{bind-attr class="socket.connected:connected:disconnected"}}>
    <span class="ion-code-working" {{bind-attr class="socket.connected:ion-code-working:ion-code"}}></span>
  </div>
</header>
<main>
    {{outlet}}
</main>
<footer>
  {{flash-message flash=notifications.currentFlashMessage}}
</footer>
