<header>
  <span class="ten"></span>
  <span class="big">
    {{#link-to 'index'}}Lever{{/link-to}}
  </span>
  <span class="spacer"></span>
  <span>
    {{#link-to 'restart' classNames="btn btn--xs"}}Restart{{/link-to}}
    {{#link-to 'shutdown' classNames="btn btn--xs"}}Shutdown{{/link-to}}
  </span>
  <span class="ten"></span>
</header>
<main>
    {{outlet}}
</main>
<footer>

</footer>
