<div class="centering-container">
  <div id="flash-message-container" {{bind-attr class="visible::hidden visible:perspectiveDownRetourn visible:magictime"}}>
    <span id="message">{{flash.message}}</span>
    <span id="dismiss-flash-message"><span class="ion-ios-close" {{action 'dismiss'}}></span></span>
  </div>
</div>
