%ul.job-list
  - @jobs.each do |job|
    %li.job
      %span.name
        %a{href: "/job/#{job.id}"}= job.name
      %span{class: "state-#{job.state}"}= job.state
      %span.job-progress
        - if job.state == 'encoding'
          %progress{value: job.progress, max: 100}
